<div class="jumbotron center">
  <h1>Welcome To My Pinterested App!</h1>
  <p>Pretty Cool, don't you think?</p>
  
  <%= link_to "Log in", root_path, class: 'btn btn-default'%>
  <%= link_to "Sign up", root_path, class: 'btn btn-primary'%>
</div>